<tr>
  <td><%= link_to mark.title, mark.url, target: '_blank', role: 'button', title: mark.url, data: { toggle: "tooltip", placement: "left" } %></td>
  <td>
    <% mark.tags.each do |tag| %>
      <span class="badge badge-info"><%= tag.name.to_s %></span>
    <% end %>
  </td>
  <td>
    <% if mark.user == current_user %>
      <div class="btn-group">
        <button class="btn btn-xs pull-right dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu mark-options">
          <!-- dropdown menu links -->
          <li><%= link_to '<span class="glyphicon glyphicon-pencil"></span> Edit'.html_safe, edit_mark_path(mark), class: "option-edit" %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, mark, method: :delete, data: { confirm: "Are you sure?" }, class: "option-delete" %></li>
        </ul>
      </div>
    <% end %>
  </td>
</tr>