  <div class="jumbotron">
    <h1>Your bookmarks, everywhere.</h1>
    <p>You move around a lot and use many different devices. Let Bookmarkr keep track of them all in one place, while introducing you to more media shared by others.
    </p>
    <%= link_to "Register free...", new_user_path, class: 'btn btn-primary btn-lg' %>
  </div>