  <div class="jumbotron">
    <h1>Your bookmarks, everywhere.</h1>
    <p>1. Drag the <a href="javascript:(function(){var%20a=window,b=document,c=encodeURIComponent,d=a.open('http://blackwater-bay-rails-96652.use1-2.nitrousbox.com/marks/new?title='+c(b.title)+'&url='+c(b.location),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=510px,width=550px,resizable=1,alwaysRaised=1');a.setTimeout(function(){d.focus()},300)})();" class="btn btn-large btn-success">Markr It!</a> button into your bookmarks toolbar.</p>
    <p>2. Come across something you love, Bookmarkr it, and I'll save it for later.</p>
    <p>3. Categorize your marks using tags.</p>
    <p>4. See what others are bookmarkr-ing within the same categories.</p>
  </div>