// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

h1 {
  padding: 0;
  margin: 0 0 10px 0;
}

.form {
  @extend .col-md-4;
  @extend .col-md-offset-4;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 80px;
  padding-bottom: 80px;
  }
section {
  @extend .row;
  }

// Fix padding issue for buttons is dropdown-menu

.mark-options {
  width: 50px;
  li {
    padding: 3px;
  }
}