<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-inner">
        <p>
          <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> 
          <%= link_to "Looking for \"The Button\"?", "#buttonModal", data: { toggle: "modal", target: "#buttonModal" } %>
        </p>
      </div>
      <div class="mol-md-6 footer-inner">
        <p class="text-right social-icons">
          <%= link_to '<span class="fa fa-linkedin fa-2x">'.html_safe, 'http://linkedin.com' %>   
          <%= link_to '<span class="fa fa-google-plus-square fa-2x">'.html_safe, 'http://plus.google.com/+CameronCecil' %> 
          <%= link_to '<span class="fa fa-github-square fa-2x">'.html_safe, 'http://github.com/scrapcode' %> 
        </p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.footer -->