<%# add navigation links to this file %>
  <% if signed_in? %>
    <li><%= link_to current_user.name, current_user %></li>
  <% else %>
    <li><%= link_to 'Sign Up', signup_path %></li>
    <li><%= link_to 'Sign In', signin_path %></li>
  <% end %>